### DATA Clean

In [4]:
import pandas as pd

In [6]:
customerData = pd.read_csv("../dataset/customerdata.csv")
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [11]:
len(customerData)

150

In [7]:
customerData.head(2)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566    4273.90000    3          6.4    1.679181  Big-Screen-lover
1  A14219    3642.44195    2          4.0    2.682023      Sleeping-dog

In [9]:
customerDataCleaned = customerData[(customerData.EMI==3)]

In [10]:
customerDataCleaned.head()

    CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
27  F17131   3179.708359    3          6.5    1.100000        Early-bird
33  G16437   3787.328898    3          6.7    1.000000        Early-bird
36  G18402   3402.199381    3          6.5    1.000000        Early-bird
40  H16326   3988.935304    3          6.5    0.900000        Early-bird

In [12]:
len(customerDataCleaned)

19

### 두번째

In [17]:
import pandas as pd

In [18]:
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerData.head()

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0

In [26]:
customerDataCleaned = customerData[(customerData.GENDER=="Male") & (customerData.EMAIL>1)]
customerDataCleaned

Empty DataFrame
Columns: [CUSTOMERCODE, STATENAME, ST, GENDER, DOB, GENDER1, EMAIL, FEST_CNT, TOTAL_AMOUNT, AC_AMOUNT, AV_AMOUNT, HA_AMOUNT, EMI_CE_AMOUNT, IS_HIGHEND, CNT_VIST, GAP_VISIT]
Index: []

In [27]:
a = "Male"

In [29]:
b = a.lower()
b

'male'

In [30]:
b = a.upper()
b

'MALE'

In [ ]:
m

In [31]:
customerData["GENDER"] = cusomterData["GENDER"].astypes(float)

NameError: name 'cusomterData' is not defined